<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>How many times does a certain word appear in a sentence, you ask?</h1>
                <h1>Lets find out...</h1>
            </div>
            <form action="result" method="post">
                <div class="form-group">
                    <label for="string">Enter a sentence...</label>
                    <input id="string" name="string" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="word">Enter a word from within (that sentence)...</label>
                    <input id="word" name="word" class="form-control" required>
                </div>
            <button class="btn btn-danger lg" type="submit">MAGIC</button>
            </form>
        </div>
    </body>
</html>
