<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>How many times is a certain word in a sentence, you ask?</h1>
        <h1>Lets find out...</h1>
            <form action="result" method="post">
                <label for="string">Enter a sentence...</label>
                <input id="string" name="string" required>
                <br>
                <label for="word">Enter a word from that sentence...</label>
                <input id="word" name="word" required>
            <button type="submit">MAGIC</button>
        </form>
    </body>
</html>
