<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h2>Your word appears</h2>
                <h1>{{ resultNum }}</h1>
                <h2>time(s). Congratulations.</h2>
            </div>
            <form action="/">
                <button class="btn btn-danger" type="submit">AGAIN</button>
            </form>
        </div>
    </body>
</html>
